<!--<!doctype html>-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Dashboard</title>-->
<!--</head>-->

<!--<body>-->
<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <nav class="col-12 col-md-3 col-lg-2   navbar navbar-expand-md   navbar-dark bg-dark   pt-md-3 pl-md-2 pl-xl-3   d-md-block"> &lt;!&ndash; d-flex &ndash;&gt;-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <i class="fas fa-cog"></i> Administration-->
<!--            </a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="navbar-collapse collapse mt-md-1" id="sidebar">-->
<!--                <ul class="navbar-nav d-block mr-auto">-->
<!--                    <li class="nav-item w-100 btn btn-dark text-left">-->
<!--                        <a class="nav-link active" href="#">-->
<!--                            Dashboard <span class="sr-only">(current)</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="nav-item w-100 btn btn-dark text-left">-->
<!--                        <a class="nav-link" href="#">-->
<!--                            Orders-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->

<!--        <main role="main" class="col-12 col-md-9 col-lg-10 px-4">-->

<!--        </main>-->

<!--    </div>-->

<!--</div>-->
<!--</body>-->

<!--</html>-->
